@font-face {
    font-family: 'GLITCH';
    src: url(font/STAR7.ttf);
}

@font-face {
    font-family: 'pontos';
    src: url(font/Equalize.ttf);
}

.glitch{

    font-family: 'GLITCH';

}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Fundo */
body {
    background: rgba(50, 80, 135, 0.795);
    color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

/* Título/Pontuação */
body > h1 {
    font-size: 2rem;
    margin-bottom: 1rem;

}

.php{
    font-size: 20px;
    background-color:#2a4e74;
    border-radius: 15px;
    border:solid 15px #2a4e74 ;
    transition: all 0.2s linear;
    
}

.php:hover{
transform: scale(1.06);
box-shadow: 2px 2px 10px #000000;
}

/* Texto */
.texto {
    max-width: 800px;
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #ddd;
    background-color: #2a4e74 ;
    border-radius: 15px;
    border:solid 15px #2a4e74 ;
    transition: all 0.2s linear;
}

.texto:hover{
transform: scale(1.06);
box-shadow: 2px 2px 10px #000000;
}

.agradecimentos{
  background-color: #2a4e74 ;
    border-radius: 15px;
    border:solid 15px #2a4e74 ;
    transition: all 0.2s linear;
}

.agradecimentos:hover{
transform: scale(1.06);
box-shadow: 2px 2px 10px #000000;
}

/* Glitch (nome final) */
.glitch {
    font-size: 3rem;
    font-weight: bold;
    color:#ffd700;;
    text-shadow: 2px 2px #2d2d2d;
    margin: 1rem 0;
    animation: glitchAnim 1s infinite alternate;
}

.pontuacao{
 font-size: 1.4em; 
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 0.02px;
     text-shadow: 2px 2px 10px #000000;
 color: white;
}

@keyframes glitchAnim {
    0% { text-shadow: 2px 2px rgba(39, 80, 120, 0.988), -2px -2px #ffffff; }
    50% { text-shadow: -2px 2px #ffffff, 2px -2px rgba(39, 80, 120, 0.988); }
    100% { text-shadow: 2px -2px rgba(39, 80, 120, 0.988), -2px 2px #ffffff; }
}

/* Link para créditos */
a {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: #ffd700;
    font-weight: bold;
    transition: 0.3s;
}
a:hover {
    color: #fff;
}

/* Botão */
form input[type="submit"] {
    margin-top: 1.5rem;
    background: #2d3e50;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

form input[type="submit"]:hover {
    background: #3f5573;
    transform: scale(1.05);
}

/* --- Responsividade --- */
@media (max-width: 768px) {
    p {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .glitch {
        font-size: 2.2rem;
    }

    form input[type="submit"] {
        width: 100%;
    }
}

@media (max-width: 480px) {
    p {
        font-size: 0.9rem;
    }

    .glitch {
        font-size: 1.8rem;
    }
}